<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/197a8bb03b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark header">
        <div class="container">
            <a class="navbar-brand" href="/Product/Index">
                <i class="fas fa-home"></i>
                Souq
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="justify-content: flex-end;">

                <div>
                    <ul class="navbar-nav mr-auto" style="margin-left:20px">

                        <li class="nav-item">
                            <a href="/Product/Index" class="btn btn-dark" style="color:#9a9da0;padding-left:25px">
                                <i class="fas fa-tags"></i>
                                <span style="color:#9a9da0">Products</span>
                            </a>
                        </li>

                        

                        <li class="nav-item">
                            <a href="/Category/Index" class="btn btn-dark" style="color:#9a9da0;padding-left:25px">
                                <i class="fas fa-sitemap"></i>
                                <span style="color:#9a9da0">Categories</span>
                            </a>
                        </li>


                        <li class="nav-item dropdown" style="padding-left:25px">
                            @if (User.Identity.Name == "")
                            {
                                <a class="nav-link" href="Account/Login" data-toggle="modal" data-target="#loginModal" >
                                    <i class="fas fa-sign-in-alt"></i> Log In
                                </a>

                                Html.RenderPartial("_Login");
                            }
                            else
                            {
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    Hello. @User.Identity.Name
                                </a>

                            }
                            <div class="dropdown-menu " aria-labelledby="navbarDropdown" style="border:1px solid lightgray;">
                                <div class="text-center">
                                    <a class="dropdown-item btn btn-lg btn-primary" href="/Account/Login">
                                        Log In
                                    </a>

                                    <span style="font-size: .8571428571rem;">Don't have an account</span>
                                    <a href="/Account/Signout" style="font-size: .8571428571rem;">Sign Up</a>
                                </div>
                                <div style="padding:8px">
                                    @if(User.IsInRole("Admin"))
                                    {
                                        <div class="dropdown-divider"></div>
                                        <a class="btn-link" href="/Admin/Index">Dashboard</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    <a class="btn-link" href="#">My Order</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="btn-link" href="#">Account Setting</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="btn-link" href="#">Account Summary</a>
                                </div>
                            </div>
                        </li>

                        <li class="nav-item" style="padding-left:25px">
                            <a href="/Cart/ShowUserCart/-1">
                                <button type="button" class="btn btn-success">
                                    <i class="fas fa-cart-plus" style="font-size: 25px;"></i>
                                    <span class="badge badge-light">
                                        @if (Session["countofAllitems"] == null)
                                        {
                                            <text>0</text>
                                        }
                                        else
                                        {
                                            <text> @((int)Session["countofAllitems"])</text>
                                        }
                                    </span>

                                </button>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>

    <div class="container-fluid body-content" style="background-color:#fafafa">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        function checkAccount(uName,uPassword) {
            //Call function ==>call url using Ajax "Jquery"
            $.ajax({
                url: '@Url.Action("Login","Account")',
                type: 'Get',
                dataType: 'text',
                data: {
                    UserName: uName,
                    password: uPassword
                },
                success: function (response) {
                    if (response == "true") {
                        $('#loginModal').modal('toggle');
                        location.reload();
                    } else if (response == "admin") {
                        window.location.assign("/Admin/Index");
                    }
                    else if (response == "customer")
                    {
                        window.location.assign("/Admin/Index");
                    }
                    else {
                        $('#loginModal').modal('toggle');
                        $('#loginModal').modal('show');
                        document.getElementById("validateForm").style.visibility = "Visible"
                    }
                },error: function() {
                }

            });
        }
    </script>
</body>
</html>
